# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.spec

# Virtual environments
venv/
ENV/
env/
.venv/

# Egg and packaging related
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDE / Editor directories
.vscode/
.idea/
